:root {
  --color-blue-medium: #8fe2e4;
  --color-purple: #632ce7;
  --color-gray: #ccc;
  --color-gray-medium: #f8f9fa;
  --color-yellow: #fac32c;
}

.nav a {
    color: black;
}

.container .row {
  margin-bottom: 3rem;
}

.navbar-brand > img {
    width: 55px;
}

.icons-social-networks a {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .5s filter;
}

.icons-social-networks a:hover,
.sec-clients {
  transition: filter 0.4s;
}

.icons-social-networks a:hover,
.sec-clients {
  filter: opacity(0.5);
}

.bg-facebook {
  background-color: #023693;
}

.bg-twitter {
  background-color: #33a9f3;
}

.bg-dribbble {
  background-color: #f1066b;
}

.header-main {
  height: 100vh;
}

.icon-service { 
  --box-size: 70px;
  width: var(--box-size);
  height: var(--box-size);
  padding: 10px;
}

.portofolio-item img {
  transition: 0.4s transform;
}

.porfolio-item:hover img {
  transform: scale(0.96);
}

.bg-purple {
  background-color: rgba(132, 17, 235, 0.3);
}

@media screen and (max-width: 376px) {
  body {
    margin-top: 4rem;
  }
  .header-main {
    height: initial;
  }
}