:root {
  --color-blue-medium: #8fe2e4;
  --color-purple: #632ce7;
  --color-gray: #ccc;
  --color-gray-medium: #f8f9fa;
  --color-yellow: #fac32c;
}

a {
    
}

.navbar-brand > img {
    width: 55px;
}